@font-face {
	font-family: 'Borracho';
	src: url(../../assets/fonts/bORRACho.woff2) format('woff2'),
	url(../../assets/fonts/bORRACho.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}