@font-face {
	font-family: 'PF Fusion Sans Pro';
	src: url(../../assets/fonts/PFFusionSansPro-Black.woff2) format('woff2'),
	url(../../assets/fonts/PFFusionSansPro-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}