@font-face {
	font-family: 'Molika';
	src: url(../../assets/fonts/Molika-Sans.woff2) format('woff2'),
	url(../../assets/fonts/Molika-Sans.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}