@font-face {
	font-family: 'Saint Regus';
	src: url(../../assets/fonts/SaintRegus-SemiBoldCondensed.woff2) format('woff2'),
	url(../../assets/fonts/SaintRegus-SemiBoldCondensed.woff) format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Saint Regus';
	src: url(../../assets/fonts/SaintRegus-SemiBold.woff2) format('woff2'),
	url(../../assets/fonts/SaintRegus-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Saint Regus';
	src: url(../../assets/fonts/SaintRegus-SemiBoldExpanded.woff2) format('woff2'),
	url(../../assets/fonts/SaintRegus-SemiBoldExpanded.woff) format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}